
<configuration>
<connectionStrings>
  <add name="RestaurantConnectionString"
   connectionString="
   Server=(localdb)\MSSQLLocalDB;; 
   Database=restaurantDB; 
   Trusted_Connection=True;" 
   providerName= "System.Data.SqlClient"/>
</connectionStrings>

<appSettings>
		<!--values are sql, txt-->
		<add key="repositoryType" value="sql"/>
</appSettings>
	
	</configuration>